/* 1.  Import statements */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2.  General Style Rules */

/* 3. Typography section */
h1,
h2,
h3,
h4,
h5,
h6,
    {
    font-family: 'Sansita', sans-serif;
}

body {
    font-family: helvetica, sam serif;
    font-size: 18px;
}

/* 3. Mobile Rules */
.TheWeatherSite {
    font-size: 5vw;
}

#container{
    width: 92%;
    margin: 0 auto;
}

header {
    display: flex;
    font-weight: bold;
}

header p {
    align-self: center;
}

header img {
    width: 15%;
    height: 100px;
}

h1 {
    font-size: 2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
}

nav li {
    list-style: none;
    padding: 0;
    /*removed defalut padding*/
}

nav {
    position: fixed;
    background-color: beige;
    width: 100%;
    bottom: 0%;
    left: 0;
}


section {
    width: 100%;
    margin: auto;
}

#temperaturefont {
    font-size: 5em;
}

.temperature {
    font-size: 1.5em;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.boxed {
    background-color: rgba(200, 200, 200, .6);
    margin: .5em auto;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
    /*This bring everything to the center*/
}

.boxed ul{
    list-style: none;
}

.boxed img{
    width: 90%;
}
.parentsection {
    display: flex;
    flex-direction: column;
}

.forecast{
    display: none;
}

/*Large Screen*/
@media only screen and (min-width: 600px) {
    .parentsection {
        display: flex;
        flex-direction: row;
    }

    nav {
        position: relative;
    }

    nav li {

        font-size: 3.5vh;
    }

    .parentsection section {
        width: 30%;
    }

    .forecast{
        display: block;
    }
    
}